@font-face{
    font-family: "Mont-Regular";
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face{
    font-family: "Mont-Bold";
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face{
    font-family: "Roboto-Light";
    src: url(../fonts/Roboto/Roboto-Light.ttf);
}