$white: white;
$scarlet: #FF4E50;
$textColor:  #E3E3E3;
$SecHeadColor: #444444;
$SecTextColor: #666666;
$inputColor: #999999;

// icons_colors
$music: #FF4E50;
$art: #19D4CA;
$camera: #FFA710;
$plane: #667DF3;